.env*
*__pycache__/
*.pyc
*.pyo
*.pyd
*.db
*.sqlite3
*.log
*.pot
*.mo
*.swp
.DS_Store
.idea/
.vscode/
*.egg-info/
dist/
build/
*.egg
*.tar.gz
*.whl
coverage.xml
htmlcov/
.tox/
.coverage
.coverage.*
.next
.code*
node_modules/